{% extends "base-dashboard.html" %}
{% block main %}
    {% load static i18n %}
    <div class="card h-100 shadow-sm is-revealing">
        <div class="card-body">
            <input type="button"
                   value="Previous Page"
                   onClick="javascript:history.go(-1);"
                   class="btn btn-primary">
            <form method="post">
                {% csrf_token %}
                <h2>
                    {% translate "Row id:" %} {{ row_info.id }}
                    <br>
                    {% translate "Message text:" %} <i>{{ row_info.msg_id }}</i>
                    <br>
                    {% if row_info.msg_context %}
                        {% translate "Message context:" %} <i>{{ row_info.msg_context }}</i>
                        <br>
                    {% else %}
                        {% translate "No context" %}
                    {% endif %}
                    {% translate "Translation now:" %}
                    {% if row_info.msg_str %}
                        {{ row_info.msg_str }}
                    {% else %}
                        {% translate "Not yet" %}
                    {% endif %}
                </h2>
                <input type="text" name="msg_str">
                <button type="submit">{% translate "Save" %}</button>
            </form>
        </div>
    </div>
{% endblock main %}
