{% extends "base-dashboard.html" %}
{% load static i18n field_verbose_name occurrences_output %}
{% block main %}
    <div class="container mt-3 mb-3">
        {% include "projects/includes/projects_nav.html" %}
        <div class="card shadow-sm mt-3">
            <div class="card-body">
                <h5 class="card-title text-white">{% translate "Row id:" %} {{ form.instance.id }}</h5>
                <p class="card-text">
                    {% translate "Source text:" %} <i>{{ form.instance.msg_id }}</i>
                </p>
                <p class="card-text">
                    {% translate "Translation context:" %} <i>{{ form.instance.msg_context|default:"N/A" }}</i>
                </p>
                <p class="card-text">
                    {% translate "Occurrences" %}: <i>{{ form.instance.occurrences|default:"N/A"|pretty_occurrences }}</i>
                </p>
                <p class="card-text">{% get_verbose_field_name form.instance "created_at" %}: {{ form.instance.created_at }} (UTC)</p>
                <p class="card-text">{% get_verbose_field_name form.instance "updated_at" %}: {{ form.instance.updated_at }} (UTC)</p>
                <form method="post">
                    {% csrf_token %}
                    {% include "includes/form.html" %}
                    <input class="btn btn-primary" type="submit" value="{% translate 'Save' %}">
                </form>
            </div>
        </div>
    </div>
{% endblock main %}
