{% extends "base-dashboard.html" %}
{% load static i18n %}
{% block main %}
    <script src="{% static 'js/anime.min.js' %}"></script>
    <script src="{% static 'js/scrollreveal.min.js' %}"></script>
    <div class="container mt-3 mb-3">
        {% include "projects/includes/projects_nav.html" %}
        <div class="row mt-3">
            <div class="col-md-12 d-flex">
                <h1>{% translate "Members" %}</h1>
                <a class="ms-auto mt-1"
                   href="{% url 'projects:add_project_member' slug=slug %}">
                    <button class="btn btn-primary ms-auto">
                        <i class="fa-solid fa-plus"></i>&nbsp;{% translate "Invite" %}
                    </button>
                </a>
            </div>
        </div>
        <div class="row g-3 g-lg-4 g-md-3 row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-xl-3">
            {% for member in page_obj %}
                {% include "projects/includes/member_card.html" %}
            {% empty %}
                <p class="text-muted">{% translate "No users" %}</p>
            {% endfor %}
        </div>
        {% include "includes/pagination.html" %}
    </div>
</div>
<script src="{% static 'js/animation_setup.min.js' %}"></script>
{% endblock main %}
