{% extends "base-dashboard.html" %}
{% load static i18n check_for_owner %}
{% block main %}
    <script src="{% static 'js/anime.min.js' %}"></script>
    <script src="{% static 'js/scrollreveal.min.js' %}"></script>
    <div class="container mt-3 mb-3">
        <div class="album py-4">
            <div class="container">
                <h1>{% translate "Projects" %}</h1>
                <div>
                    {% for project in projects %}
                        {% ifchanged %}
                        </div>
                        <h3 class="mt-2">
                            {% if project|is_owner:request.user %}
                                {% translate "Owned" %}
                            {% else %}
                                {% translate "Contributed" %}
                            {% endif %}
                        </h3>
                        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-xl-3">
                        {% endifchanged %}
                        {% include "projects/includes/project_card.html" %}
                    {% empty %}
                        <p class="text-muted">{% translate "No projects" %}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/animation_setup.min.js' %}"></script>
{% endblock main %}
