{% extends "base-dashboard.html" %}
{% load static i18n %}
{% block main %}
    <div class="container mt-3 mb-3">
        {% include "projects/includes/projects_nav.html" %}
        <div class="container">
            <div class="row mt-3">
                <div class="col-md-12 d-flex">
                    <h1>{% translate "Files" %}</h1>
                    <a class="ms-auto mt-1"
                       href="{% url 'projects:project_files_upload' slug=slug %}">
                        <button class="btn btn-primary ms-auto">
                            <i class="fa-solid fa-upload"></i></i>&nbsp;{% translate "Upload" %}
                        </button>
                    </a>
                </div>
            </div>
            <div>
                {% for file in project_files %}
                    {% ifchanged %}
                    </div>
                    <div class="row g-3 g-lg-4 g-md-3 row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-xl-3">
                    {% endifchanged %}
                    {% include "projects/includes/files_card.html" %}
                {% empty %}
                    <p class="text-muted">{% translate "No files" %}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock main %}
