{% extends "base-dashboard.html" %}
{% load static i18n %}
{% block main %}
    <div class="container mt-3 mb-3">
        {% include "projects/includes/projects_nav.html" %}
        <div class="container">
            <div class="row mt-3">
                <div class="col-md-12 d-flex">
                    <h1>{% translate "Languages" %}</h1>
                    <a class="ms-auto"
                       href="{% url 'projects:add_project_language' slug=slug %}">
                        <button class="btn btn-primary ms-auto">
                            <i class="fa-solid fa-plus"></i></i>&nbsp;{% translate "Add" %}
                        </button>
                    </a>
                </div>
            </div>
            <div class="row g-3 g-lg-4 g-md-3 row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-xl-3">
                {% for language in languages %}
                    {% include "projects/includes/language_card.html" %}
                {% empty %}
                    <p class="text-muted">{% translate "No languages" %}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock main %}
