{% extends "base.html" %}
{% load i18n %}
{% block main %}
    <div class="container">
        <h1>{% translate "Login" %}</h1>
        <form method="post" action="{% url 'accounts:login' %}" class="form">
            {% csrf_token %}
            {% include "includes/form.html" %}
            <input class="btn btn-primary" type="submit" value="{% translate 'Send' %}">
        </form>
        <br>
        <p>
            {% translate "Don't have an account yet?" %} <a class="bold" href="{% url 'accounts:signup' %}">{% translate "Signup" %}</a>
        </p>
        <p>
            <a class="bold" href="{% url 'accounts:request_activation' %}">{% translate "Request account activation" %}</a>
        </p>
        <p>
            <a class="bold" href="{% url 'accounts:password_reset' %}">{% translate "Forgot password?" %}</a>
        </p>
    </div>
{% endblock %}
