[flake8]
exclude =
    migrations,
    __pycache__,
    venv
import-order-style=google
application-import-names =
    accounts,
    burse,
    dashboard,
    landing,
    notifications,
    projects,
    rating,
    resume,
    transletter,
    translation_request,
    translator_request,
inline-quotes = "
