[flake8]
exclude =
    migrations,
    __pycache__,
    venv
import-order-style=google
application-import-names =
    transletter,
    landing,
    accounts,
    burse,
    projects,
    dashboard,
    resume,
    translator_request,
    notification,
inline-quotes = "
