{% load i18n thumbnail %}
<div class="col mb-5">
    <div class="card h-100 shadow-sm item_card is-revealing zoomable-card">
        <a href="{% url 'burse:translator' username=translator.username %}">
            {% thumbnail translator.account.avatar "300x300" as avatar %}
                <img class="card-img-top card-img-bottom img-fluid" src="{{ avatar.url }}">
            {% empty %}
                <svg class="card-img-top card-img-bottom img-fluid"
                     width="100%"
                     height="300px"
                     xmlns="http://www.w3.org/2000/svg"
                     role="img"
                     aria-label="Placeholder: Thumbnail"
                     preserveAspectRatio="xMidYMid slice"
                     focusable="false">
                    <title>{% translate "No image" %}</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                </svg>
            {% endthumbnail %}
        </a>
        <div class="card-body">
            <a href="{% url 'burse:translator' username=translator.username %}">
                <h5 class="card-title text-white">
                    {{ translator.first_name|default:translator.username }}
                    {% if translator.first_name != "" %}{{ translator.last_name }}{% endif %}
                </h5>
                <p class="card-text text-muted">{{ translator.account.about|default:"N/A"|truncatechars_html:80|striptags|safe }}</p>
            </a>
        </div>
    </div>
</div>
