{% extends "base-dashboard.html" %}
{% block main %}
{% load static i18n %}

<script src="{% static 'js/anime.min.js' %}"></script>
<script src="{% static 'js/scrollreveal.min.js' %}"></script>

<div class="container mt-3 height-100">
    <h2>{% translate "Projects" %}</h2>
    <div class="album py-4 bg-body-tertiary">
        {% for project in projects %}
            {% include "includes/project_card.html" %}
            {% empty %}
                <p>{% translate "No projects" %}</p>
        {% endfor %}
    </div>
</div>
<script src="{% static 'js/animation_setup.min.js' %}"></script>

{% endblock main %}
