{% extends "base-dashboard.html" %}
{% load i18n language_filters %}
{% block main %}
    <div class="container mt-3 mb-5">
        <div class="col">
            <h2>
                {% translate "Translator Request from" %} {{ request.user.first_name|default:request.user.username }}
                {% if request.user.first_name != "" %}{{ request.user.last_name }}{% endif %}
            </h2>
        </div>
        <div class="col">
            <div class="row">
                <h5>{% translate "Email" %}</h5>
                <p class="text-muted">{{ translator_request.user.email }}</p>
            </div>
            <div class="row">
                <h5>{% translate "Native language" %}</h5>
                <p class="text-muted">{{ translator_request.user.account.get_native_lang_display }}</p>
            </div>
            <div class="row">
                <h5>{% translate "Languages" %}</h5>
                {% for lang in translator_request.user.account.languages %}
                    <span class="text-muted">{{ lang|language_name }}</span>
                    <br />
                {% empty %}
                    <span class="text-muted">N/A</span>
                    <br />
                {% endfor %}
                <br />
            </div>
            <div class="row">
                <h5>{% translate "About" %}</h5>
                <p class="text-muted">{{ translator_request.user.resume.about|safe }}</p>
            </div>
            <div class="row">
                <h5>{% translate "Status" %}</h5>
                <p class="text-muted">{{ translator_request.get_status_display }}</p>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <h5>{% translate "Files" %}</h5>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4">
                    {% for file in translator_request.user.resume.files.all %}
                        <div class="col mb-5">
                            <div class="card item_card is-revealing zoomable-card">
                                <a href="{% url 'resume:download_file' pk=translator_request.user.resume.pk file_id=file.id %}">
                                    <div class="badge bg-warning text-black position-absolute download_image">
                                        <i class="fa-solid fa-download"></i>
                                    </div>
                                </a>
                                <svg class="card-img-top card-img-bottom"
                                     width="100%"
                                     height="200px"
                                     xmlns="http://www.w3.org/2000/svg"
                                     role="img"
                                     aria-label="Placeholder: Thumbnail"
                                     preserveAspectRatio="xMidYMid slice"
                                     focusable="false">
                                    <title>{% translate "File thumbnail" %}</title>
                                    <rect width="100%" height="100%" fill="#55595c"></rect>
                                    <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" fill="#ffffff" font-size="48" class="fa">
                                    <tspan class="fa-icon">&#xf15b;</tspan>
                                    </text>
                                </svg>
                                <div class="card-body">
                                    <a href="{% url 'resume:download_file' pk=translator_request.user.resume.pk file_id=file.id %}"
                                       class="text-white">
                                        <h6>{{ file.filename }}</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                    </div>
                    <p class="text-muted">{% translate "No files" %}</p>
                    <div>{% endfor %}</div>
            </div>
            <a href="{% url 'translator_request:accept_request' translator_request.id %}"
               class="btn btn-success col"
               type="submit">{% translate "Accept" %}</a>
            <a href="{% url 'translator_request:reject_request' translator_request.id %}"
               class="btn btn-danger col"
               type="submit">{% translate "Reject" %}</a>
            <a href="{% url 'translator_request:reject_request' translator_request.id %}?block=True"
               class="btn btn-danger col"
               type="submit">{% translate "Reject & Block" %}</a>
        </div>
    {% endblock main %}
