{% extends "base-dashboard.html" %}
{% block main %}
{% load i18n %}

<div class="container mt-3 mb-3">
    <h2>{% translate "Notifications" %}</h2>
    <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="table-responsive">
                  <table class="table no-wrap user-table mb-0">
                    <thead>
                      <tr>
                        <th scope="col" class="border-0 text-uppercase font-medium">{% translate "title" %}</th>
                        <th scope="col" class="border-0 text-uppercase font-medium">{% translate "content" %}</th>
                        <th scope="col" class="border-0 text-uppercase font-medium">{% translate "created date" %}</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for notification in notifications %}
                          {% include "includes/notification_card.html" with translator_request=translator_request %}
                      {% empty %}
                      <tr>
                        <td><p class="text-muted">{% translate "No translator requests" %}</p></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
              </div>
          </div>
      </div>
    </div>
    {% include "includes/pagination.html" %}
</div>

{% endblock main %}
