{% load i18n %}
<div class="ratings_section">
    <div class="d-flex justify-content-center mt-10">
        <div class="row w-100">
            <div class="col-md-12">
                <div class="card">
                    <div class="comment-widgets m-b-20">
                        <div class="d-flex flex-row comment-row">
                            <div class="comment-text w-100">
                                <div class="row">
                                    <div class="col d-flex align-items-center">
                                        <h5>{{ notification.title }}</h5>
                                        {% if not notification.read %}
                                            <span class="badge rounded-pill text-bg-success ms-2 mb-2">{% translate "New!" %}</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="comment-footer col">
                                        <span class="date text-muted">{{ notification.created_at }} (UTC)</span>
                                        <span class="action-icons"></span>
                                    </div>
                                </div>
                                <p class="m-b-5 mt-10 text-muted">{{ notification.content|default:"N/A"|linebreaks|safe }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
