{% load thumbnail i18n %}

<div class="ratings_section">
    <div class="d-flex justify-content-center mt-10">
        <div class="row w-100">
            <div class="col-md-12">
                <div class="card">
                    <div class="comment-widgets mb-20">
                        <div class="d-flex flex-row comment-row">
                            <div class="comment-text w-100">
                                <div class="row">
                                    <h5 class="col">{{ rating.translation_request.author.username }}</h5>
                                </div>
                                <div class="row">
                                    <div class="comment-footer col">
                                        <span class="date text-muted">{{ rating.created_at }} (UTC)</span>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted">{% translate "Rating" %}: {{ rating.get_rating_display }}</p>
                                <p class="mt-1 text-muted">{{ rating.text|safe }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
