{% load thumbnail i18n %}

<div class="ratings_section">
    <div class="d-flex justify-content-center mt-10">
        <div class="row w-100">
            <div class="col-md-12">
                <div class="card">
                    <div class="comment-widgets mb-20">
                        <div class="d-flex flex-row comment-row">
                            <div class="comment-text w-100">
                                <div class="row">
                                    <h5 class="col">{{ rating.user.username }}</h5>
                                </div>
                                <div class="row">
                                    <div class="comment-footer col">
                                        <span class="date text-muted">{{ rating.created_at }} (UTC)</span>
                                    </div>
                                </div>
                                <p class="mt-2">{% translate "Rating" %}: {{ rating.rating }}</p>
                                <p class="text-muted">{{ rating.text|safe|linebreaks }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
