{% load i18n %}

<tr>
  <td>
    <h5 class="font-medium mb-0">{{ request.user }}</h5>
    <span class="text-muted">{{ request.user.email }}</span>
  </td>
  <td>
    <h5 class="font-medium mb-0">{{ request.user.account.get_native_lang_display }}</h5>
  </td>
  <td>
    <h5 class="font-medium mb-0">{{ request.get_status_display }}</h5>
  </td>

  <td>
    <a href="#" type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle"><i class="fa-sharp fa-solid fa-id-card"></i></a>
  </td>
</tr>
