{% load i18n thumbnail %}

<tr>
  <td class="row">
    <div class="col">
      {% thumbnail translator.account.avatar "150x150" as avatar %}
        <img src="{{ avatar.url }}" alt="Avatar">
      {% empty %}
        <svg alt="Avatar" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>{% translate "No image" %}</title>
          <rect width="100%" height="100%" fill="#55595c"></rect>
        </svg>
      {% endthumbnail %}
    </div>
    <div class="col">
      <h6 class="mb-0">{{ translator }}</h6>
      <span class="text-muted">{{ translator.email }}</span>
    </div>
  </td>
  <td>
    <h6 class="mb-0">{{ translator.account.get_native_lang_display }}</h6>
  </td>
  <td>
    <span>{{ translator.account.languages }}</span>
  </td>
  <td>
    <a href="#" type="button" class="btn btn-outline-info">Review <i class="fa-sharp fa-solid fa-id-card"></i></a>
  </td>
</tr>
