{% load i18n thumbnail %}
<div class="col">
    <div class="card h-100 shadow-sm item_card is-revealing zoomable-card">
        <div class="card-body">
            <h2>File №{{ forloop.counter }}</h2>
            {{ file.filename }}
        </div>
        <a class="btn btn-primary text-end float-end"
           href="{% url 'projects:project_files_translate' slug=slug pk=file.id %}"><i class="fa-solid fa-plus"></i> {% translate "Translate" %}</a>
        <a class="btn btn-success text-end float-end"
           href="{% url 'projects:project_file_export' slug=slug file_pk=file.id %}"><i class="fa-solid fa-plus"></i> {% translate "Export" %}</a>
    </div>
</div>
